<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="alert alert-success" th:if="${session.successMessage}" role="alert"
        th:text="${session.successMessage}"></div>
    <div class="alert alert-danger" th:if="${session.failMessage}" role="alert"
        th:text="${session.failMessage}"></div>
    <th:block th:text="${@sessionMessageRemover.removeMessage()}"></th:block>

 <div class="add-product">
    <form action="/admin/add-product" method="post" th:object="${product}">
        <div class="form_group">
        <label for="name">Name</label>
        <input type="text" name="name" th:field="*{name}">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number" class="form-control" th:field="*{price}" id="price" name="price"
                placeholder="Enter your password" required>
            <span class="error-message" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        </div>
         <div class="form_group">
        <label for="category">Category</label> 
        <input type="text" name="category" th:field="*{category}">
        <span class="error-message" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
       </div>
       <div class="form_group">
        <label for="stock">Stock</label>
        <input type="number" name="stock" th:field="*{stock}">
        <span class="error-message" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"</span>
        </div>
        <div class="form_group">
        <label for="description">Description</label>
        <textarea name="description" id="" cols="30" rows="5" th:field="*{description}"></textarea>
        <span class="error-message" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        </div>
        <div class="btn_block">
        <button type="submit">Add</button>
        <button type="reset">Reset</button>
       <a href="/"> <button type="button">Back</button></a>
        </div>
    </form>
</div>
</body>
</html>