<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:insert="~{fragments/header}"></th:block>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
   
</head>
<body>

    <th:block th:insert="~{fragments/navbar}"></th:block>
    <th:block th:insert="~{fragments/message}"></th:block>
    
         <h2>Welcome to Admin Dashboard!</h2>
      <form action="">
        
        <div class="container">
       <a href="/admin/add-product"><button type="button">Add Product</button></a>
       <a href="/admin/manage-product"><button type="button">Manage Product</button></a>
    </div>
      
      </form>
     <th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>
