<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page is Not Working MyShop</title>
    <link rel="stylesheet" href="/css/error.css">
    
</head>
<body>
    <div class="error-container">
        <span class="error-icon">❌</span>
        <p class="error-message">Oops! Something went wrong. Please try again later.</p>
        <a href="/signin" class="try-again">Try Again</a>
      </div>
</body>
</html>