<!DOCTYPE html>
<html>
<head>

<th:block th:insert="~{fragments/header}"></th:block>
<title>Home Page</title>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>

      <th:block th:insert="~{fragments/navbar}"></th:block>
      <th:block th:insert="~{fragments/message}"></th:block>
      
    
      <div class="container">
        <h2>Welcome to Our Store!</h2>
        <p>Discover amazing products and great deals.</p>
       
      </div>
    
      <th:block th:insert="~{fragments/footer}"></th:block>
    
      
	
</body>
</html>