<!DOCTYPE html>
<html lang="en">
<head>
   <th:block th:insert="~{fragments/header}"></th:block>
    <title>View Products</title>
    <link rel="stylesheet" href="/css/displayproducts.css">
    
</head>
<body>
   <th:block th:insert="~{fragments/navbar}"></th:block>
   <th:block th:insert="~{fragments/message}"></th:block>
    <h1 style="text-align: center;">Manage Products</h1>
    <div class="container">
      <div th:each="product:${products}">
          <div class="col-md-4 product-card">
              <div class="card">
                  <img class="card-img-top" th:src="${product.imagePath}" alt="Product Image">
                  <div class="card-body">
                      <h5 class="card-title" th:text="${product.name}"></h5>
                      <p class="card-text" th:text="${product.description}"></p>
                      <p>Price: <th:block th:text="${product.price}"></th:block>&#8377</p>
                      <p>Stock: <th:block th:text="${product.stock}"></th:block></p>
                      <th:block th:if="${session.customer}">
                        <button th:if="${product.stock==0}" disabled>Out Of Stock</button>
                        <a th:href="'/add-cart/'+${product.id}" th:if="${product.stock>=1}"><button type="button">Add To Cart</button></a>
                      </th:block>
                      <a href="/signin"><button th:if="${session.customer==null}">Login To Buy</button></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <th:block th:insert="~{fragments/footer}"></th:block>
</body>
</html>