<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Cart</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/message.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/displayproducts.css">
   
</head>
<body>
   
   <th:block th:insert="~{fragments/navbar}"></th:block>
   <th:block th:insert="~{fragments/message}"></th:block>
    
    <h1 style="text-align: center;">View Cart</h1>
    <div class="container">
      <div th:each="item:${items}">
          <div class="col-md-4 product-card">
              <div class="card">
                  <img class="card-img-top" th:src="${item.imagePath}" alt="Item Image">
                  <div class="card-body">
                      <h5 class="card-title" th:text="${item.name}"></h5>
                      <p class="card-text" th:text="${item.description}"></p>
                      <p>Price: <th:block th:text="${item.price}"></th:block>&#8377</p>
                      <p>Quantity: <th:block th:text="${item.quantity}"></th:block></p>
                      <a th:href="'/remove-cart/'+${item.id}" th:if="${item.quantity>=1}"><button type="button">Remove From Cart</button></a>
                      
                  </div>
              </div>
          </div>
          
      </div>
      
  </div>
  <a href="/payment"><button style="margin-left: 600px;">Proceed To Pay</button></a>
  <!-- <th:block th:insert="~{fragments/footer}"></th:block> -->
</body>
</html>